@import url("components/avatar.css");
@import url("components/profile_header.css");
@import url("components/navbar.css");
@import url("components/card.css");
@import url("components/footer.css");
@import url("components/banner.css");

body {
  margin: 0;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: x-large;
  color: #067BC2;
  font-weight: bold;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

h2, h3 {
  color: #7E7D7E;
  font-weight: lighter;
  font-size: larger;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

p {
  font-family: 'Muli', sans-serif;
  color: #999999;
}

.profile-light-grey {
  background-color: rgba(0,0,0,.1);
}

.movie-medium-grey {
  background-color: #353941;
}

.tv-darker-grey {
  background-color: #26282b;
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-container {
  display: flex;
  height: 70vh;
  width: 70vw;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px #BCBCBC;
  justify-content: space-around;
  align-items: center;
}

.profile {
  text-align: center;
}

.profile p {
  margin-bottom: 20px;
}

.media-container {
  width: 70vw;
  text-align: center;
  padding: 10px;
}

.media-container h1 {
  color: white;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.6);
  margin: 0px 0px 40px 0px;
}

.card-container {
  width: 70vw;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px #BCBCBC;
  text-align: center;
  padding: 10px;
}

.card-container h1 {
  color: white;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.6);
}

.links {
  color: #BCBCBC;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Muli', sans-serif;
}

.fa-facebook {
  color: #4167B2;
}

.fa-twitter {
  color: #00ACED;
}


.fa-linkedin {
  color: #0373AF;
}

.fa-instagram {
  color: #AC3C9A;
}

.links:hover {
  color: #BD1F1E;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  line-height: 25px;
  list-style: none;
  padding: 0 10px;
}

.container {
  width: 800px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px #BCBCBC;
  text-align: center;
  padding: 10px;
}

#circle-avatar {
  border-radius: 50px;
  border: 2px solid #E5E5E5
}

.blue-button {
  background-color: #067BC2;
  color: white;
  border-radius: 5px;
  padding: 10px 30px;
  text-decoration: none;
  font-family: 'Muli', sans-serif;
}

.blue-button:hover {
  background-color: #10ACF3;
  text-decoration: none;
  color: white;
}

.table-spacing img {
  width: 160px;
  height: 250px;
  border-radius: 5px;
}

.table-spacing h3 {
  text-align: center;
}

.table-spacing p {
  padding-left: 15px;
}

.img-padding {
  padding: 10px;
  border-radius: 5px;
}

.plain-title-link {
  text-decoration: none;
  color: #7E7D7E;
}

.plain-title-link:hover {
  text-decoration: none;
  color: #BD1F1E;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
