.banner {
  color: white;
  text-align: center;
  height: 100vh;
   if you have a 70px navbar => height: calc(100vh - 70px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner a {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
  color: #D23333;
  text-decoration: none;
}

.banner a:hover {
  color: #E3170A;
}

.pushEffect{
  display: inline;
  text-indent: 8px;
}
.pushEffect span{
  animation: push 10s linear infinite 0s;
  -ms-animation: push 10s linear infinite 0s;
  -webkit-animation: push 10s linear infinite 0s;
  color: white;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.pushEffect span:nth-child(2){
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.pushEffect span:nth-child(3){
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.pushEffect span:nth-child(4){
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}

/*Push Effect Animation*/
@-moz-keyframes push{
  0% { opacity: 0; }
  5% { opacity: 0; -moz-transform: rotate(0deg) scale(2) skew(0deg) translate(0px); }
  10% { opacity: 1; -moz-transform: translateX(0px); }
  25% { opacity: 1; -moz-transform: translateX(0px); }
  30% { opacity: 0; -moz-transform: translateX(0px); }
  80% { opacity: 0; }
  100% { opacity: 0;}
}
@-webkit-keyframes push{
  0% { opacity: 0; }
  5% { opacity: 0; -webkit-transform:rotate(0deg) scale(2) skew(0deg) translate(0px);}
    10% { opacity: 1; -webkit-transform: translateX(0px); }
  25% { opacity: 1; -webkit-transform: translateX(0px); }
  30% { opacity: 0; -webkit-transform: translateX(0px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes push{
  0% { opacity: 0; }
  5% { opacity: 0; -ms-transform: rotate(0deg) scale(2) skew(0deg) translate(0px); }
  10% { opacity: 1; -ms-transform: translateX(0px); }
  25% { opacity: 1; -ms-transform: translateX(0px); }
  30% { opacity: 0; -ms-transform: translateX(0px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
